  //Note: consumer_key and consumer_secret are now referred to as "API Key" and "API Secret" respectively in Twitter documentation.
  //However, the names of the keys are required by npm twit package.  Do not change the names, only the values. 
  const config = {
    //tiwtter API config
    consumer_key:         'XXXXX',
    consumer_secret:      'XXXXX',
    access_token:         'XXXXX',
    access_token_secret:  'XXXXX',
    
    //hashtag config
    hashtags: ["#my-cool-game", "#gaming"]

  }
  module.exports = config;
